<div class="ml-10">
    <p>

    </p>
</div>


<div class="container my-3" >
    <div class="jumbotron">
        <h1 class="display-4">Hello!</h1>
        <p class="lead">
            Hi, I am Rahul Rai a B.Tech 2nd year Undergraduate at IIT Gandhinagar in discipline of Computer Science and
            Engineering. I have made the Todo
            List to get the basic understanding of Angular Framework. Angular and Bootstrap are mainly used in the
            project.
            Now you can continue using the Todo List. In future, i will be making more such projects in Angular
            Framework.
            Thank You !
        </p>
    </div>
</div>